

@font-face {
	font-family: 'Yekan';
	src:	url('../font/Yekan.eot'); /* IE9 Compat Modes */
	src:	url('../font/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('../font/Yekan.woff2') format('woff2'), /* Modern Browsers */
			url('../font/Yekan.woff') format('woff'), /* Modern Browsers */
			url('../font/Yekan.otf') format('opentype'), /* Open Type Font */	
			url('../font/Yekan.ttf') format('truetype'); /* Safari, Android, iOS */
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-display: auto;
}
#app {
    overflow: hidden;
}
* {
	
	font-family: 'Yekan'
}

.vs-button--icon {
	margin: 0 10px !important
}
.router-link-wrapper {
	translate: -60px;
}
.router-link-wrapper p {
	margin: 0 10px;
	direction: rtl;
}
.icon-no-border {
	left: -140px !important
}

.progress {
	width: 350px !important;
	translate: -75px -10px;
	margin: 10px 0;
	direction: rtl;
}
/* .vs-checkbox--icon {
    font-size: initial !important;
}
.vs-checkbox {
	border-radius: 50px !important
}
.vs-checkbox--input {
	pointer-events: none;
}
.vs-checkbox-default {
	direction: rtl;
text-align: right;
} */
.vs-sidebar--background {
	display: none;
}
.vs-sidebar--items {
	height: 100vh;
	background-color: #3C4AAE !important;
	overflow: hidden;
	color: aliceblue !important;

}
.vs-sidebar--item a {
	direction: rtl;
	
}
.vs-sidebar--item > a > i {
	font-size: 30px !important;
}
.vs-sidebar--item > a {
	font-size: 20px !important;
}
.vuesax-app-is-ltr .vs-sidebar--item i.material-icons {
	margin: 0 10px;
}